body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

.header {
    background: #445c3c;
    color: white;
}

.content-container {
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem;
}