---
layout: page
title: Groups
tags: [] # Overrides `groups.json`
---

<p>
  Ferunt dissimilem parce; in idem pulsavit multa arboreo raucis concepit artus
  nostro et patriae non exsilit adfectasse ergo. Tu idque
  tuentur. Tamen et sorores partim limite
  scopulum distat, patriam cuncta.
</p>

<h2>Groups</h2>

{% include "partials/groups-list.liquid" %}
