---
layout: base
---

{% assign authorData = contributorData[author] %}

<article class="article">
  {{ content }}

  <div class="content-container">
      {% include "partials/article/share.liquid" %}
      {% include "partials/article/bio.liquid" %}
  </div>
</article>
